* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  background: grey;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.tile {
  width: 5px;
  height: 5px;
  border: 1px solid #000;
}

.wall {
  background: black;
}

.green {
  border: 1px solid green;
  background: rgb(149, 196, 149);
}

.finish {
  background: red;
}

.orangered {
  border: 1px solid orangered;
}

.path {
  background:red;
}