* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 800px;
  height: 800px;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.wall {
  background: rgb(107, 105, 105);
}

.green {
  border: 1px solid green;
  background: rgb(149, 196, 149);
}

.finish {
  background: red;
}

.orangered {
  border: 1px solid orangered;
}

.path {
  background:red;
}